
<div class="container">
    <div class="jumbotron p-0 pb-5 pl-5 pr-5">
        <partial name="_NavSearch"/>
        <h4>Search For any movie</h4>
        <form id="searchForm">
            <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
        </form>
    </div>
</div>

<div class="container">
    <div id="movies" class="row justify-content-center"></div>
</div>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    